In [ ]:
create table test1 (id varchar, name varchar);

In [ ]:
create table test2 (sales varchar, regions varchar);